.accounts-list {
  width: 35vw;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.13);
  height: 100%;
}

.info {
  border-bottom: 1px solid #e8e7e7;
  background-color: rgba(244, 244, 241, 0.4);
  height: 40px;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #797878;
}

.accounts {
  padding: 20px;

  .account {
    padding: 5px;

    input {
      border-bottom: 1px transparent solid;
    }

    input:hover,
    input:focus {
      border-bottom: 1px black solid;
    }
  }
}
